@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #c082d0;
}

.navbar-brand {
  font-family: 'Lobster', serif;
  text-shadow: 1px 1px 2px black;
}

.text-white {
  text-shadow: 1px 1px 2px black;
}

.title {
  font-family: 'Lobster', serif;
  color: #4a2552;
  text-shadow: 1px 1px 2px #c082d0;
  padding-top: 20px;
}

.italic {
  color: #4a2552;
  padding-bottom: 50px;
}

.row {
  row-gap: 50px;
}

div img {
  object-fit: fill;
}

body, html {
  height: 100%;
  background: url("https://img.freepik.com/free-vector/elegant-white-wallpaper-with-golden-details_23-2149095007.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div display {
  font-size: 20px;
}

h6 {
  font-family: 'Jost';
}

span {
  font-family: 'Jost';
}
